*.class
*.log
*.bak

# Idea
.idea/

# SBT
.bsp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*#
*.iml
*.ipr
*.iws
*.pyc
*.tm.epoch
*.vim
*-shim.sbt
/project/plugins/project
project/boot
target/
/logs
.cache
.classpath
.project
.settings
